{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center text-info mb-4">CERTIFICATIONS</h2>
  <div class="row justify-content-center flex-nowrap overflow-auto">

    <!-- Certification 1 -->
    <div class="col-auto">
      <div class="card bg-dark text-white border-info shadow-sm mx-2" style="width: 16rem; font-size: 0.8rem;">
        <div class="card-body p-2">
          <h6 class="card-title text-warning mb-2" style="font-size: 0.95rem;">Python</h6>
          <p class="card-text mb-1">Issued by: <strong>Hacker Rank</strong></p>
          <p class="card-text mb-2">Date: April 2024</p>
          <a href="https://www.hackerrank.com/certificates/c85bc605aee2" target="_blank" class="btn btn-sm btn-info w-100">View</a>
        </div>
      </div>
    </div>

    <!-- Certification 2 -->
    <div class="col-auto">
      <div class="card bg-dark text-white border-info shadow-sm mx-2" style="width: 16rem; font-size: 0.8rem;">
        <div class="card-body p-2">
          <h6 class="card-title text-warning mb-2" style="font-size: 0.95rem;">Google AI-ML</h6>
          <p class="card-text mb-1">Issued by: <strong>Eduskills</strong></p>
          <p class="card-text mb-2">Date: June 2024</p>
          <a href="https://drive.google.com/file/d/1JTmbrexpCx6RS9B_s7WtXFA3MMgorfo2/view?usp=drive_link" target="_blank" class="btn btn-sm btn-info w-100">View</a>
        </div>
      </div>
    </div>

    <!-- Certification 3 -->
    <div class="col-auto">
      <div class="card bg-dark text-white border-info shadow-sm mx-2" style="width: 16rem; font-size: 0.8rem;">
        <div class="card-body p-2">
          <h6 class="card-title text-warning mb-2" style="font-size: 0.95rem;">Data Structures</h6>
          <p class="card-text mb-1">Issued by: <strong>Infosys SpringBoard</strong></p>
          <p class="card-text mb-2">Date: August 2024</p>
          <a href="https://drive.google.com/file/d/18bz2Cu42n0duuGt3XX1L-qiQ2D9xgOW_/view?usp=drive_link" target="_blank" class="btn btn-sm btn-info w-100">View</a>
        </div>
      </div>
    </div>

    <!-- Certification 4 -->
    <div class="col-auto">
      <div class="card bg-dark text-white border-info shadow-sm mx-2" style="width: 16rem; font-size: 0.8rem;">
        <div class="card-body p-2">
          <h6 class="card-title text-warning mb-2" style="font-size: 0.95rem;">Internet of Things</h6>
          <p class="card-text mb-1">Issued by: <strong>NPTEL</strong></p>
          <p class="card-text mb-2">Date: November 2024</p>
          <a href="https://drive.google.com/file/d/1TSFASiok3w3KikldPS3uuJiagBBcnYm1/view?usp=drive_link" target="_blank" class="btn btn-sm btn-info w-100">View</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
